
  .ticketContainer{
    
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    // padding: 20px;
    text-align: left;
    padding: 0 3%;
  }
  .ticketNav{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .ticketNavLeft{
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    div{
      display: flex;
    }
  }

  .topDiv{
    border: 1px solid #C3CFD9;
    width: 100%;
    height: 75px;
    margin-top: 5%;

    p {
        padding-left: 3%;
        font-weight: 700;
    }
  }
  .authorDiv{
    border: 1px solid #C3CFD9;
    width: 100%;
    p {
        padding-left: 7%;
    }
  }

  .authorDivHeader {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      div {
          width: 50%;
      }
      .secondDiv {
          width: 50%;
          text-align: right;
          margin-right: 5%;
      }
  } 

  .mediaDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .uploadDiv{
    // border: 1px solid black;
    margin-top: 0;
    margin-left:5%;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button{
      height: 40px;
    }
}

  .uploadDiv2{
    // border: 1px solid black;
    margin-top: 0;
    margin-left: 10%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    button{
      height: 40px;
    }
  }

  .statusDiv {
      display: flex;
      flex-direction: row;
      div {
          align-items: baseline;
      }
  }
  
.statusBox {
    width: 30%;
}

.statusBox2 {
    margin-top: 12px;
    width: 30%;
}

.commentBox {
  // border: 1px solid black;
  padding: 0;
  margin-left: 5%;
  margin-bottom: 0;
  width: 95%;
  h3{
    margin-top: 20px;
    color: black;
  }
  textarea {
  width: 100%;
  height: 150px;
  border: 1px C3CFD9 solid;
  // margin-bottom: 20px;
  margin: 0;
  padding: 0;
  }   
}
.replyBox {
  // border: 1px solid black;
  padding: 0;
  margin-left: 10%;
  margin-bottom: 0;
  width: 90%;
  h3{
    margin-top: 20px;
    color: black;
  }
  textarea {
  width: 100%;
  height: 150px;
  border: 1px C3CFD9 solid;
  // margin-bottom: 20px;
  margin: 0;
  padding: 0;
  }   
}

.editTicketBox {
  // border: 1px solid black;
  padding: 0;
  margin-left: 5%;
  // margin-bottom: 0;
  width: 90%;
  h3{
    margin-top: 20px;
    color: black;
  }
  textarea {
  width: 100%;
  height: 150px;
  border: 1px C3CFD9 solid;
  // margin-bottom: 20px;
  margin: 0;
  padding: 0;
  }   
}

.photo {
  // border: 1px solid black;
  height: 80px;
  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 4px;
  clip-path: circle(50%);
  margin-left: 5%;
  div {
    margin-left: 5%;
  }
}

.photo2 {
  height: 65px;
  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 4px;
  clip-path: circle(50%);
  margin-left: 5%;
}

.stacked {
  margin-left: -20%;
}

.tooltip {
  position: relative;
  display: inline-block;
 

  


  &:hover{
    // img{
      z-index: 200;
    // }
  }
}
#testbox {
  padding: 0;
    text-align: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: @secondary-red;
  color: #fff;
  text-align: center;
  padding: 0;
  border-radius: 6px;
  width: 120px;
  bottom: 105%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 5;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 20;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: @secondary-red transparent transparent transparent; //arrow bit direction
}

.ticketComment{
  border: 1px solid #C3CFD9;
  margin-top: 10px;
  margin-left: 5%;
  width: 95%;
  p {
    padding: 0 7% 
  }
}
.ticketComment2 {
  display: flex;
  justify-content: space-between;
  .secondDiv {
      width: 20%;
      text-align: right;
      margin-right: 5%;
      font-weight: 600;
  }
}
.ticketCommentReply{
  border: 1px solid #C3CFD9;
  margin-left: 10%;
  width: 90%;
  p {
      padding-left: 7%;
  }
}

.photo3 {
  height: 110px;
  width: 110px;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;


  
}

.photo4 {
  height: 110px;
  width: 110px;
  border-radius: 10px;
  
}
.viewTicketPhoto {
  height: 100px;
  border-radius: 5px;
  margin-top: 8%;
  margin-left: 7%;
}

.commentFixer{
  display: flex;
  width: 80%;
}

.commentText{
  // border: 1px solid black;
  width: 90%;
  padding: 0;
  // margin: 0;
  // margin-top: 2px;
  margin-left: 15px;
  h4{
    // margin: 0;
    padding: 0;
  }
}

.alignRight{
  float: right;
  margin: 10px;
}
.alignLeft{
  float: left;
  margin: 10px;
}

.solution{
  background-color: lightseagreen;
  border: 2px solid black;
}